<div class="card">
  <div class="card-header">
      <h4 class="card-title">
          Orders
      </h4>
  </div>
  <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Products</th>
            <th scope="col">Price</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phones</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let order of orders; trackBy: trackById">
            <tr>
              <th scope="row">{{order.id}}</th>
              <td>
                <ng-container *ngFor="let item of order.cartItems">
                  {{item.product.name}}
                  <br />
                </ng-container>
              </td>
              <td>{{order.totalSum | currency:'USD':'symbol':'1.0-2'}}</td>
              <td>{{order.firstName}} {{order.lastName}}</td>
              <td>{{order.email}}</td>
              <td>
                <ng-container *ngFor="let phone of order.phones">
                  {{phone}}
                  <br />
                </ng-container>
              </td>
              <td>{{order.address}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
  </div>
</div>