<div class="row justify-content-sm-center">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
          <h4 class="card-title">
              Buyer info
          </h4>
      </div>
      <div class="card-body">
          <form (ngSubmit)="onSaveOrder()" id="order-form" [formGroup]="orderForm">
            <div class="form-group" [ngClass]="{'error': validationMessagesMap.get('firstName').message }">
              <label for="firstName">First Name</label>
              <input
                type="text" 
                class="form-control" 
                id="firstName"
                placeholder="First Name (required)"
                formControlName="firstName"
              >
              <span class="error-message" *ngIf="validationMessagesMap.get('firstName').message">
                {{validationMessagesMap.get('firstName').message}}
              </span>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input
                type="text" 
                class="form-control" 
                id="lastName"
                placeholder="Last Name"
                formControlName="lastName"
              >
            </div>
            <div class="form-group" [ngClass]="{'error': validationMessagesMap.get('email').message }">
              <label for="email">Email</label>
              <input
                type="text"
                class="form-control" 
                id="email"
                placeholder="Email (required)"
                formControlName="email"
                appEmailValidator
              >
              <span class="error-message" *ngIf="validationMessagesMap.get('email').message">
                {{validationMessagesMap.get('email').message}}
              </span>
            </div>
            <div formArrayName="phones">
              <div *ngFor="let phone of phones.controls; let i = index">
                <div class="row" [ngClass]="{'error': phonesMessagesMap.get('phones').messageMap.get(i) }">
                  <div [ngClass]="{'col-sm-11': i > 0, 'col-sm-12' : i === 0}" >
                    <label attr.for="{{'phone' + i}}">Phone {{i > 0 ? i + 1 : ''}}</label>
                    <input
                      type="tel"
                      class="form-control" 
                      id="{{'phone' + i}}"
                      placeholder="380xxxxxxxxx"
                      formControlName="{{i}}"
                    >
                    <span class="error-message" *ngIf="phonesMessagesMap.get('phones').messageMap.get(i)">
                      {{phonesMessagesMap.get('phones').messageMap.get(i)}}
                    </span>
                  </div>
                  <div class="col-sm-1 text-right" *ngIf="i>0">
                    <button class="remove-phone btn btn-danger" (click)="onRemovePhone(i)">X</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary"
                      type="button"
                      (click)="onAddPhone()">
                Add Another Phone
              </button>
            </div>
            
            <div class="form-group form-check">
              <input
                type="checkbox"
                class="form-check-input" 
                id="selfPickup"
                formControlName="selfPickup"
              >
              <label class="form-check-label" for="selfPickup">
                Self-pickup
              </label>
            </div>
            <div class="form-group" [ngClass]="{'error': validationMessagesMap.get('address').message }">
              <label for="address">Address</label>
              <textarea
                class="form-control"
                id="address"
                placeholder={{addressPlaceholder}}
                formControlName="address"
              ></textarea>
              <span class="error-message" *ngIf="validationMessagesMap.get('address').message">
                {{validationMessagesMap.get('address').message}}
              </span>
            </div>
            <div class="controls">
              <button class="btn btn-secondary"
                type="button"
                (click)="onGoBack()">Back
              </button>
              <button 
                type="submit" 
                class="btn btn-primary"
                [disabled]="!orderForm.valid">Buy
              </button>
            </div>
          </form>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
          <h4 class="card-title">
              Order
          </h4>
      </div>
      <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of cartItems; trackBy: trackByProductId">
                <tr>
                  <th scope="row">{{item.product.name}}</th>
                  <td>{{item.quantity}}</td>
                  <td>{{item.totalPrice | currency:'USD':'symbol':'1.0-2'}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<br>Dirty: {{ orderForm.dirty }}
<br>Touched: {{ orderForm.touched }}
<br>Valid: {{ orderForm.valid }}
<br>Value: {{ orderForm.value | json }}
<br>Form Status: {{orderForm.status }}