<div class="cart-list">
  <h4>Cart</h4>
  <div>
    Order By:
    <select id="orderBy" (change)="onOrderChange($event)">
      <option id="totalPrice" selected>Price</option>
      <option id="quantity">Quantity</option>
      <option id="product.name">Name</option>
    </select>
    <label for="isAsc">isAsc</label>
    <input id="isAsc" type="checkbox" (change)="onAscChange($event)" />
  </div>
  <div *ngIf="!isEmptyCart(); else elseBlock">
    <div *ngFor="let item of items | orderBy:orderByAttribute:isAscOrder; trackBy: trackByProduct">
      <app-cart-item
        [item]="item"
        (increaseCount)="onIncreaseCount($event)"
        (decreaseCount)="onDecreaseCount($event)"
        (removeProduct)="onRemoveProduct($event)"
      >
      </app-cart-item>
    </div>
    <div>
      <p>Total Quantity: {{getTotalQuantity()}}</p>
      <p>Total Sum: {{getTotalSum() | currency:'USD':'symbol':'1.0-2'}}</p>
      <button (click)="onRemoveAll()">Remove All</button>
    </div>
  </div>
  <ng-template #elseBlock>
    <div>
      Cart is empty
    </div>
  </ng-template>
</div>
