<div class="cart-list">
  <h4>Cart</h4>
  <div *ngIf="items.length; else elseBlock">
    <div *ngFor="let item of items; trackBy: trackByProduct">
      <app-cart-item
        [item]="item"
        (increaseCount)="onIncreaseCount($event)"
        (decreaseCount)="onDecreaseCount($event)"
        (removeProduct)="onRemoveProduct($event)"
      >
      </app-cart-item>
    </div>
    <div>
      Total: {{getCartTotal()}}
    </div>
  </div>
  <ng-template #elseBlock>
    <div>
      Cart is empty
    </div>
  </ng-template>
</div>
