<div class="row justify-content-sm-center">
  <div class="col-sm-6">
    <div class="card product" (keyup)="onKeyUp($event)">
      <div class="card-header">
        <div class="product-header">
          <h5 class="card-title">{{product.name}}</h5>
          <h6>
            <span [ngSwitch]="product.category">
              <span *ngSwitchCase="1">Beer</span>
              <span *ngSwitchCase="2">Wine</span>
              <span *ngSwitchCase="3">Whisky</span>
              <span *ngSwitchDefault>Unknown</span>
            </span>
          </h6>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">{{product.description}}</p>
        <div class="product-controls">
          <div class="product-price">{{product.price | currency:'USD':'symbol':'1.0-2'}}</div>
          <div *ngIf="product.isAvailable; else elseBlock">
            <button type="button"  class="brn btn-primary" (click)="onBuy()">Buy</button>
          </div>
          <ng-template #elseBlock>
            <div class="error">
              Not in Stock
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>